.discountBadge {
  padding: 0.5rem;
}

.discountBadge {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 5rem;
  border-radius: 1rem;
  background: #ff1c51;
  font-size: 0.75rem;
  font-weight: bold;
  color: #ffffff;
}

.discountBadge:hover {
  animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media only screen and (min-width: 40rem) {
  .discountBadge {
    font-size: 0.8rem;
  }
}
